header {
    background-color: rgb(255, 100, 0);

    nav {
        display: flex;
        justify-content: space-between;
        
        div {
            display: flex;
            
            ul {
                
            display: flex;
            list-style: none;
            margin-left: -32px;
                li {
                    
                    a {
                        text-decoration: none;
                        color: white;

                    }

                }
            }
        }
    }
}