main {
    position: relative;

    .modale {
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 400px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.405);
        .close {
            border-bottom: 1px solid grey;
            text-align: end;
            cursor: pointer;
            font-weight: bold;
            color: red;
            font-size: 1.5rem;
        }
        .content{
            padding: 1rem;
            display: flex;
            gap: 1rem;
            .left {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                img {
                    width: 100px;
                    
                }
            }
        }
      
    }


    .col {
        margin-top: 80px;
        width: 350px;
        position: relative;



    }

    .img {
        img {
            width: 100%;
        }

        position: relative;

        .hover_fig {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover .hover_fig {
            opacity: 1;
        }

        .banner {
            position: absolute;
            bottom: 50px;

            .discount {
                background-color: red;
                color: white;
                text-align: center;
                width: 50px;
                padding: 3px 0;
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;

            }

            .sustainability {
                display: inline-block;
                background-color: green;
                color: white;
                text-align: center;
                padding: 3px 3px;
                font-weight: bold;
            }
        }

        .heart {
            position: absolute;
            right: 0;
            top: 1rem;
            font-size: 3rem;
            padding: 0 15px 0 15px;
            background-color: white;
        }

        .heart:hover {
            color: red;
        }

    }

    .text {
        .price {
            font-size: 0.8rem;
        }

        .actual_price {
            color: red;
            font-weight: bold;
        }

        .old_price {
            text-decoration: line-through;
        }

        .name {
            cursor: pointer;
        }
    }


}